<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#0B0B0D">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {{ content_for_header }}

    {{ 'base.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    <title>
      {{ page_title }}
      {%- if current_tags %} – tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} – Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} – {{ shop.name }}{% endunless -%}
    </title>
  </head>
  <body class="theme-vantor">
    <a class="skip-to-content-link" href="#MainContent">{{ 'accessibility.skip_to_text' | t }}</a>

    {% section 'header' %}

    <main id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
